body{
    margin:0 0 0 0;
    background-color: black;
    /* Text font */
    font-family: "Century Gothic", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    /*font-weight: 700;*/
    line-height: 26.4px;
    /* Text font */
    color: white;
    text-align: center;
    margin-top: 250px;
  }
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(12, 12, 12, 0.7);
  }
  header{
    position:absolute;
    top:0px;
    width: 100%;
    height: 310px;
    background: rgba(92, 7, 7, 0);
    /*background: black;*/
  }
  #bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    filter: blur(5px);
  }