<template>
<header class="header">
    <div class="header-container">
        <div class="header-right">
            <ul class="languages">
            <li class="languages" onclick="goFrench()"><a href="" class="languages">{{this.french}}</a></li>
            <li class="languages"> | </li>
            <li class="languages" onclick="goEnglish()"><a href="" class="languages">{{this.english}}</a></li>
        </ul>
        <ul class="account">
            <li class="account"><a href="/account" class="name">{{this.surname + " " + this.name}}</a></li>
            <li class="account"><a href ="/account"><div class="img"></div></a></li>
        </ul> 
        </div>
        <div class="logo-header">
            <a class="logo" href="/home"><img src="../assets/trophy-256px.png" alt="Home Page"></a>
            <h1>OnlyTournament</h1>
        </div>  
    </div>
</header>
</template>

<script src="./header.ts"></script>
<style src="./header.css"></style>