li.account{
    display: inline;
    margin-right: 10px;
    vertical-align:middle;
}
ul.account{
    float: right;
}
.name{
    font-family: "Century Gothic", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    color:white;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
}
.name:hover{
    color: #fed130;
}
.img{
    background:url("../assets/icons8-utilisateur-48.png") no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
}
.img:hover{
    background:url("../assets/icons8-utilisateur-48-color.png") no-repeat;
}
a.languages{
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    color:white;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
}
li.languages{
    display: inline;
    margin-right: 10px;
    vertical-align:middle;
}
a.languages:hover{
    color: #fed130;
}
ul.languages{
    float:right;
    margin-right: 10px;
}
ul{
    clear: both;
    height: 0px;
}
.logo{
    display: inline-block;
    width: 0px;
}
h1{
    margin-top:0px;
}